.users_item {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
}
.users_item__followimg {
  margin-right: 20px;
  text-align: center;
}
.users_item__info {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  border: 1px solid #3c3737;
  border-radius: 10px;
  color: #3c3737;
}
.users_item__context {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.users_item__location {
  margin: 10px;
}
.users_title {
  margin-left: 100px;
}
.users_item__followimg_image {
  border-radius: 20px;
  overflow: hidden;
}
.users_item__followimg_image img {
  display: block;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination > li {
  list-style: none;
  width: 43px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.pagination_item__active {
  background-color: #000;
  color: #fff;
}
